*{
  /* background-image: linear-gradient(red,yellow); */
  width:100%;
}

.main-header{
  display :grid;
  grid-template-columns: 4fr 1fr;
  background-image: linear-gradient(to bottom right,rgb(30, 151, 238),rgba(124, 167, 237, 0.741));

}

.header{
  /* background-color: aqua; */
  width: 100%;
  padding: 100px auto;
  font-size: x-large;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

