*{
  /* background-image: linear-gradient(red,yellow); */
  width:100%;
}

.main-header{
  display :grid;
  grid-template-columns: 4fr 1fr;
  background-image: linear-gradient(to right,rgb(255, 255, 255),rgba(0, 149, 255, 0.611));
  padding: 1% 1%;
  margin: 0%;
  border-bottom: solid black 2px;
}

.header{
  /* background-color: aqua; */
  width: 100%;
  padding: 1% 0%;
  font-size: x-large;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
  background-color: #b9d8ff;
  padding: 0.5% 1%;
  width: 100%;
  text-align: center;
}
.menu a{
  text-decoration: none;
  font-size: large;
  margin: 0 2%;
  color: rgb(115, 1, 1);
  padding: 4% 2%;
  /* text-align: left; */


}

.login{
  background-color: rgb(245, 195, 131);
  padding: 2% 3%;
  margin-top: 1%;
  border-radius: 10%;
  text-decoration: none;
  font-size: larger;
}
.signup{
  background-color: rgb(245, 195, 131);
  padding: 2% 3%;
  margin-top: 1%;
  border-radius: 10%;
  text-decoration: none;
  font-size: larger;

}

.main-header-tagline{
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  font-size: xxx-large;
  font-weight: 700;
}
.tagline{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}