*{
  background-color: rgb(255, 255, 255);
}

.loginForm{
  border:solid 2px rgba(0, 0, 0, 0.341);
  width: 40%;
  margin:auto auto;
  padding: 20px 40px;
  border-radius: 1%;
  box-shadow: 2px 2px rgb(190, 190, 190);

}