
body{
  background-color: rgba(229, 229, 229, 0.048);
}
.blog{
  width:90%;
  margin:10px auto;
  row-gap: 10px;

}

.blog-list{
  padding:5px 5px;
  row-gap: 10px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.336),rgba(244, 239, 239, 0.105));

}

.author-detail{
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  /* background-color: rgb(229, 229, 229); */
  /* justify-content:start; */ 
  
}
.author-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.blog-content{
  display: grid;
  grid-template-columns: 7fr 3fr;
  /* margin: 10px; */
  gap: 3%;
  cursor:pointer;
  /* background-color: rgba(229, 229, 229, 0.532); */

}
.blog-pic{
  padding:5% 5%;
  width:60%
}



.blog-action{
  display: grid;
  grid-template-columns: 1fr  1fr;
  background-color: rgba(229, 229, 229, 0.175);

}