.blog-detail{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* margin: 10px; */
  gap: 10px;

}

.blog{
  background-color: antiquewhite;
  padding:10px 10px 10px 10px;
  border-radius: 20px;
  border: 5px solid rgba(215, 159, 89, 0.456);
  display: grid;
  grid-template-columns: 6fr 6fr;
  
}